@charset "UTF-8";

#admin-page {
	.admin {
		display: inline;
		font-size: 20px;
		padding-right: 108px;
		margin: 30px;
	}

	#row > .admin {
		margin: 10px 30px;
		padding-left: 0 !important;
	}

	#page-wrapper {
		li {
			padding: 50px;
			margin: 1px 150px 1px 30px;
		}

		h2 {
			padding-bottom: 10px;
		}
	}

	#list > li > ul {
	    display: grid;
  		grid-template-columns: 1fr 2fr 2fr 3fr;
	}
}