@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
   font-family: 'Roboto', 'Noto Sans KR';
}
#detail {
	margin-top:20px; font-size:20px;
	font-weight: bold;
}

.green {
   color: green;
}

.blue {
   color: blue;
}

.orange {
   color: #FFA200;
}

.red {
   color: red;
}

img {
	margin: 10px;
	width: 316px;
    height: 451px;
	object-fit: cover;
	border-radius: 10px;
	}

.p2 {clear: both;}

p {
	/* font-size:50px; */
}

.btn-design {
	background-color: #0D255E;
	border-bottom-color: #0D255E;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	border-bottom-style: solid;
	border-bottom-width: 1.26984px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: #0D255E;
	border-left-style: solid;
	border-left-width: 1.26984px;
	border-right-color: #0D255E;
	border-right-style: solid;
	border-right-width: 1.26984px;
	border-top-color: yellow;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-top-style: solid;
	border-top-width: 1.26984px;
	box-sizing: border-box;
	color: white;
	cursor: ponter;
	display: inline-block;
	font-family: "Noto Sans KR", Roboto, dotum, "sans-serif";
	font-size: 24px;
	height: 59.9802px;
	letter-spacing: -0.36px;
	line-height: 58px;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 0px;
	text-align: center;
	text-decoration-color: white;
	text-decoration-line: none;
	text-decoration-style: solid;
	text-decoration-thickness: auto;
	user-select: auto;
	vertical-align: middle;
	width: 322.996px;
}

.btn-design:hover {
	cursor: pointer;
}

div {
	text-align: center;
}

 #info div {
        display: block;
        margin-bottom: 5px; 
    }

a {
	text-decoration: none;
	font-size: 18pt;
    color: #0D255E;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.clicked {
    color: gray; 
}

#movieList {
    padding-top: 170px; 
}

#synopsys {
	padding:20px 300px 40px;
	text-wrap: balance;
}

#info {
	padding:20px 300px 40px;
	text-wrap: balance;
}

#movie-list {
	display:grid;
	align-items: flex-start;
}

#movie-list.row-5{
	grid-template-rows: repeat(5,1fr);
	row-gap: 6rem;
}

#movie-list.col-5{
	grid-template-columns: repeat(5,1fr);
	column-gap:2rem;
}
