@charset "UTF-8";
@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

#movieList {
    padding-top: 150px;
}

#current:focus, #current:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

h3{
	text-align:center;
	margin-top: 1em !important;
}

#listnow{
 	text-align:center;
    margin-block-end: 1em;
    padding-inline-start: 40px;
 }
 
 #listnow>a{
 	border: 10px solid #0D255E;
 	background:#0D255E;
    border-width: 2px;
    border-radius: 40px/40px;
    color: #ffffff !important;
    font-size: 0.9em;
    text-decoration: none;
    padding:8px;
    box-shadow: 0px 2px 10px 1px #6d6d6d;
    
    }
 #listnow>a:active{
 background:#000000;
 
 }

#choose {
	list-style-type: none;
    float: left;
    margin-right: 20px;
}

li {
	list-style-type: none;
}

img {
    border: none;
    vertical-align: top;
}

.movie-container {
	
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

/* .img-style {
    width: 184px; 고정된 가로 너비
    height: 262.85px; 고정된 세로 높이
    margin-bottom: 10px; 아래 여백 추가
    border-radius: 5px; 둥근 테두리 적용
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 그림자 효과 추가
    object-fit: cover; 이미지를 가득 채우면서 비율 유지
} */

.movie-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    padding: 3em 0 3em 0;
    overflow: hidden;
}

.movie-item {
  	text-align: center;
   	margin: 0 0.6em;
    text-shadow: 0px 5px 12px #6d6d6d;
    font-size: 16px;
}

.movie-item img {
   width: 300px;
	height: 380px;
	box-shadow: 0px 12px 16px 2px #6d6d6d;
}

 .movie-container img:hover {
    cursor: pointer;
}

/* .mname {
	 text-align: center;
   	color: black;
   	margin: auto;
    text-shadow: 1px 5px 12px #6d6d6d;
    font-size: 16px;
} */

/* .runt {
	font-size: 10pt;
	margin: 8px 0px 8px 0px; line-height: 120%;
}
 */
 
