@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    box-sizing: border-box;
    margin:0
}
#page-wrapper {
	margin: 150px 50px 0;
}
.container {
    padding-top: 150px;
}
button.cancel:hover {
    cursor: pointer;
}
button.cancel {
    margin-top: 25px;
}

.reserve {
    padding-top: 150px;
}

body {
    font-family: 'Roboto', 'Noto Sans KR';
}

h2 {
    text-align: center;
}
button{
	border:0; 
	background:transparent;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #4388cc;
    height: 30px;
    border: 1.5px solid #4388cc;
    color: #FFFFFf;
    }
button#cancel {
    margin-top: 25px;
}

.container-in {
    width: 1000px;
}
.top-container {
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: baseline;
}

.wrap {
    padding-left: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 1000px;
}
.img-container {
    width: 150px; /* 이미지 너비 */
    margin-right: 50px; /* 이미지와 텍스트 사이 간격 */
}

.text-container {
    flex-grow: 1; /* 텍스트 컨테이너가 남은 공간을 모두 차지하도록 설정 */
}

.poster {
    width: 210px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 31px;
}

.inform p {
    font-size: 1.5rem;
    word-spacing: 5px;
}

.description{
	padding: 24px;
	background: #ffffff;
	border-radius: 4px;
	font-size: 14px;
	color: black;
	line-height: 1.5;
	margin-bottom:40px;
}
*{
	box-sizing: border-box;
	}
	
li{list-style:none;}
	nav ul li{
	display: inline-block;
	padding: 20px;
	margin: 0 5px;
	}
	dl dt{ 
	display: inline-block;
	padding: 20px;
	}
	.h5{
	
	padding: 5px;
	margin: 0px 10px;
	font-weight: bold;
	}
	.red2{
	color:red;
	}
	.tabs1{
	position: relative;
	border-bottom: 1px solid
	 #e1e1e1;
	font-size:0;
	margin-bottom: 38px;
		}
	.tabs1 a{
	display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    position: relative;
    padding: 12px 0;
	}
	.tabs1 a.active{
	font-weight: 700;
	color: #000;
	}
	.tabs1 a:not(.active) {
		border-bottom: 0;
	}
 	.no-reser{
	text-align: center;
	font-size: 18px;
	color: #8f9bb3;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	}
	.tabs1 a.active:before{
	    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3px;
    background: #ff6347;
	}
	.modal {
          position: absolute;
          display: none;
          justify-content: center;
          top: 0;
          left: 0;
          width: 100%; /* 페이지의 절반 */
          height: 100%; /* 페이지의 절반 */
          margin: auto;
          overflow: auto;
          background-color: rgba(0, 0, 0, 0.4);
      }
	  .modal_body {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); /* 모달을 화면 가운데로 정렬 */
          width: 90%; /* 모달 내부의 가로 크기 */
          padding: 40px;
          text-align: center;
          background-color: rgb(255, 255, 255); /* 모달창 배경색 흰색 */
          border-radius: 10px; /* 테두리 */
          box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); /* 테두리 그림자 */
      }
       .list{
      	text-align: left;
      }
      .btn-close-modal{
      display: inline-block;
    width: 100%;
    height: 48px;
    line-height: 46px;
    border-radius: 4px;
    text-align: center;
    background: #40dfd0;
    font-size: 16px;
    font-weight: 600;
}

h4 {
	text-align: center;
	height: 50px;
} 
