@charset "UTF-8";

form {
	margin-bottom: 1em;
}

#searchlist {
	display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.movieCard {
	display: contents;
}

.movieCard > a > img {
	width: 300px;
	height: 380px;
	box-shadow: 0px 12px 16px 2px #6d6d6d;
}

.movieCard > a > p {
    text-align: center;
   	color: black;
   	margin: auto;
    text-shadow: 1px 5px 12px #6d6d6d;
    font-size: 16px;
}

.movieCard > a > span {
	text-align: center;
	display: block;
   	color: white;
   	margin: auto;
   	width:80%;
   	font-size: 16px;
   	border-color: gray;
    background-color: gray;
	border-radius: 40px / 40px;
	margin-right: 32px;
    margin-left: 27px;
}

.movieCard > h3 {
	width:250px;
	height:200px;
	margin:0;
	text-align: center;
}

#read > #imgbox {
	display: flex;
  	padding:80px;
    align-items: center;
    justify-items: center;
	box-sizing: border-box;
	margin: 5%;
	flex-wrap: wrap;
  	justify-content: center;
}

#read > #imgbox > #x {
	display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 5% 5%;
}

#read > #imgbox > #ima_size > img {
	width: 500px;
	height: 710px;
	margin: 0 0 0 0;
	border-radius: 40px / 40px;
}

#box > h1 {
	width:800px;
	font-size:50px;
	text-align: start;
}

#read > #imgbox > #x > #box {
	width:300px;
	text-align: start;
 	text-wrap: balance;
}

#read > #imgbox > #x > #box3 {
 	 width: 300px;  
  	 height: 510px;
	 text-align: start;
	 text-wrap: balance;
	 display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-start;
}

#synop_but {
	display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    width:1200px;
	
}
#synop_but > * {
    justify-self: center;
}
#synopsys {
    text-align: center;
    text-wrap: balance;
    width:80%;
 	background:white;
	padding:20px;
	border-radius: 40px / 40px;
	box-shadow: 0px 5px 6px 0px #6d6d6d;
}

#page-wrapper {
	background:white;
}

#read {
	margin : 5rem;
	background:aliceblue;
	border-radius: 40px / 40px;
	box-shadow: 0px 5px 10px 0px #6d6d6d;
}

.reverse_button {
   background-color: #0D255E;
   border-bottom-color: #0D255E;
   border-bottom-left-radius: 60px;
   border-bottom-right-radius: 60px;
   border-bottom-style: solid;
   border-bottom-width: 1.26984px;
   border-image-outset: 0;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;
   border-left-color: #0D255E;
   border-left-style: solid;
   border-left-width: 1.26984px;
   border-right-color: #0D255E;
   border-right-style: solid;
   border-right-width: 1.26984px;
   border-top-color: yellow;
   border-top-left-radius: 60px;
   border-top-right-radius: 60px;
   border-top-style: solid;
   border-top-width: 1.26984px;
   box-sizing: border-box;
   color: white;
   cursor: ponter;
   display: inline-block;
   font-family: "Noto Sans KR", Roboto, dotum, "sans-serif";
   border: 1px;
   font-size: 24px;
   font-weight: 600;
   width: 168px;
   letter-spacing: -0.025em;
   line-height: 58px;
   padding: 0 24px;
   text-align: center;
   text-decoration-color: white;
   text-decoration-line: none;
   text-decoration-style: solid;
   text-decoration-thickness: auto;
   user-select: auto;
   vertical-align: middle;
   width: 168px;
}
